.slide_button{
    background-color: transparent;
    font-size: 18px;
    padding: .5em;
    border: 3px solid #bea404;
    border-radius: .3em;
    transition: all .6s ease-out;
    &:active, &:focus{
        outline: none;
        box-shadow: none;
    }
    &:hover{
        background-color: #bea404;
        color: black;
    }
    @media (max-width: 600px) and (min-width: 300px){
        font-size: 14px;
        padding: .4em;
    }
}

.btn_conoce{
    padding: 1em;
    background-color: #efeeee;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    color: black;
    padding: .7em;
    transition: all .4s ease-out;
    &:hover{
        text-decoration: none;
        background-color:#bea404;
        color: black;
    }
}    

